@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: local("/src/fonts/AvenirLTStd-Book.otf"),
		url("/src/fonts/AvenirLTStd-Book.otf"), format("truetype");
	font-family: "AvenirLTStd-Book";
	background-color: #f7fafc;
}

body {
	font-family: AvenirLTStd-Book Arial, Helvetica, sans-serif;
}
